Source: android-headers
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 4.0.0
Section: libs
Homepage: https://github.com/ubports/android-headers
Maintainer: UBports <list@ubports.com>

Package: android-headers
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Android Platform Headers from AOSP releases
 Android NDK provided by Google contains subset of AOSP platform
 headers which are deemed "external interface" by Google. However,
 writing advanced software for Android necessitates access to complete
 platform. Many aspects of it change, sometimes drastically, between
 releases, so compiling user source code against platform headers for
 different releases is required (e.g. for libhybris).
 .
 This package provides the platform development headers for core components
 of LineageOS, for the 7.1 release.
